@model Escala

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Escala</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DescricaoHorario" class="control-label"></label>
                <input asp-for="DescricaoHorario" class="form-control" />
                <span asp-validation-for="DescricaoEscala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioEntrada" class="control-label"></label>
                <input asp-for="HorarioEntrada" class="form-control" />
                <span asp-validation-for="HorarioEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntervaloSaida" class="control-label"></label>
                <input asp-for="IntervaloSaida" class="form-control" />
                <span asp-validation-for="IntervaloSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntervaloRetorno" class="control-label"></label>
                <input asp-for="IntervaloRetorno" class="form-control" />
                <span asp-validation-for="IntervaloRetorno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioSaida" class="control-label"></label>
                <input asp-for="HorarioSaida" class="form-control" />
                <span asp-validation-for="HorarioSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
