@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    
    <div><img class="Logo" height="271px " width="400px" height="100px" src="~/Imagens/Logo_pagina_home_Yonkus.png" /></div>

    
    
</div>
