html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EBEBEB;
}
container-fluid{
    border-block-color: aquamarine;
}
.logo{
    margin-top: 20px;
    width: 140px;
    height: 70px
    
  
}
.pesquisaCargo {
    border-radius: 1px solid black;
}


